.home{
    padding: 0;
    margin: 0;
    position: relative;
}
.intro{
    text-align: center;
    box-shadow: 3rem 3rem 5rem rgba(70, 180, 125, 0.363), -3rem -3rem 5rem rgba(70, 131, 180, 0.082);
    margin-top: 5rem;
    padding: 3rem 1rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro>img{
    width: 200px;
}
.intro_top{
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.def{
    font-size: 1.5em;
    margin: 2rem auto;
    font-family: 'Lato', sans-serif;
    max-width: 70%;
}
.home_sides{
    display: flex;
}

.side1{
    padding: 0 3rem;
    position: relative; 
    width: 30%;
    margin-top: 8rem;
}
.side2{
    padding: 0 3rem;
    width: 70%;
}
@media screen and (max-width: 1000px) {
    .home_sides{
        flex-direction: column-reverse;
    }
    .side1{
        margin-top: 4rem;
        width: 100%;
    }
    .side2{
        width: 100%;
        margin: auto;
    }
    .intro{
        padding: 1.5rem 1rem;
    }
    .intro_top{
        font-size: 2em;
    }
    .def{
        font-size: 1.2em;
        margin: 1.2rem auto;
    }
}
