.header{
    background: url("https://i.pinimg.com/originals/97/08/d5/9708d5c92469ab80d21b99e5a4641ea2.jpg");
    background-size: cover;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_content{
    text-align: center;
    padding: 4rem;
    border-radius: 0.5rem;
}
.header_top{
    color: gold;
    font-size: 5em;
    letter-spacing: 0.2em;
    margin: 1rem 0;
    font-family: 'Zen Tokyo Zoo', cursive;
}
.header_text{
    color: white;
    font-size: 2em;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}
.header_content>span{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 7em;
    color: teal;
    font-family: 'Zen Tokyo Zoo', cursive;
    margin: 1.5rem 0;
    text-shadow: 1rem 1rem 5rem teal, -1rem -1rem 5rem steelblue;
}
@media screen and (max-width: 1200px) {
    .header{
        min-height: 600px;
    }
    .header_top{
        font-size: 3em;
    }
    .header_text{
        font-size: 1.5em;
    }
    .header_content>span{
        font-size: 5em;
    }
}