.offset{
    margin: 2rem auto;
}
.offset>p{
    text-align: center;
    font-size: 1.5em;
    margin: 2rem auto;
    max-width: 70%;
    font-family: 'Roboto', sans-serif;
}
.offsets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}
@media screen and (max-width: 900px) {
    .offset{
        margin: 1rem;
    }
    .offset>p{
        font-size: 1em;
        margin: 1.5rem;
        margin-top: 0;
    }
}