*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.link{
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
.app{
  font-family: 'Montserrat', sans-serif;
  color: rgb(56, 47, 47);
}